# Copy this file to .env.dev / .env.nonprod / .env.prod and fill in your values
REACT_APP_API_URL=https://your-api-host/partnerportal
REACT_APP_LOGIN_SIGNUP_URL=https://your-api-host
REACT_APP_CONSENT_URL=https://your-api-host/consent
REACT_APP_ENCRYPT_URL=https://your-api-host/consent
REACT_APP_ENV=dev
REACT_APP_BASE_URL=https://your-app-base-url

# Additional Base URLs
REACT_APP_GRIEVANCE_URL=https://your-api-host/grievance
REACT_APP_COOKIE_URL=https://your-api-host/cookie
REACT_APP_AUDIT_URL=https://your-api-host
REACT_APP_TRANSLATOR_URL=https://your-api-host/translator
REACT_APP_NOTIFICATION_URL=https://your-api-host/notification

# Grievance Integration URL Base
REACT_APP_INTEGRATION_BASE_URL=https://your-portal-host/integrationCreateRequest

REACT_APP_SCHEDULAR_URL=https://your-api-host
REACT_APP_REGISTRY_URL=https://your-api-host/registry
