# Copy this file to .env.dev / .env.nonprod / .env.prod and fill in your values
REACT_APP_API_URL=https://your-api-host/partnerportal
REACT_APP_CONSENT_URL=https://your-api-host/consent
REACT_APP_TRANSLATE_URL=https://your-api-host/translator
REACT_APP_ENV=dev
REACT_APP_BASE_URL=https://your-app-base-url
