@jds:registry=https://devopsartifact.jio.com/artifactory/api/npm/npm_virtual/
//devopsartifact.jio.com/artifactory/api/npm/npm_virtual/:\_password=QVBaMW9HeEhGTHo1NjhFYTQ1UTZjM1RNRUF1clljdFRtOGtqVA==
//devopsartifact.jio.com/artifactory/api/npm/npm_virtual/:username=sid-jfrog-soiuser
//devopsartifact.jio.com/artifactory/api/npm/npm_virtual/:email=sid-jfrog-soiuser@ril.com
//devopsartifact.jio.com/artifactory/api/npm/npm_virtual/:always-auth=true
strict-ssl=false
legacy-peer-deps=true